body{
    background-color: ;
}

.mapdiv{
    width:450%;
}

.mapdiv path {
    fill: #cacaca;
    stroke: #d4f2ff;
    stroke-width:0.5px;
    transition: fill 0.3s;
}

#gt {
    fill:#007bff;
}

.mapdiv :hover {
    fill: #007bff;
}