body{
  body: 16px;
  overflow-x: hidden;
}


/*SPACES*/
  .spsc {
    padding-top: 100px;
  }
/*SPACES*/


/*HEADER*/

.headersec{
  padding-top: 200px;
  padding-bottom: 200px;
}


/*VIDEO*/


header {
  position: relative;
  background-color: black;
  height: 145vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.spscHeader {
  padding-top: 180px;
}

.showcase-left {
  color: #fff;
}


.instrutionbtnIcon {
  color: #007bff;
}

.instrutionbtnIcon:hover {color: #ffffff;}


.instrutionbtnHeader {
  height: 350px;
  background: #ffffff;
  color: #000;
  font-weight: light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.instrutionbtnHeader:hover {background: #007bff; color: #ffffff;} /*border:1.3px solid #ffffff;*/



/*ELIMINATES SPACE BETWEEN ROWS*/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}



/*BRAIN SECTION*/

.brainStormSpsc {
  padding-top: 150px;
}

.brainStorm {
  background: #007bff;
  background: -webkit-linear-gradient(45deg,#003a79,#007bff);
  background: -o-linear-gradient(45deg,#003a79 0,#007bff 100%);
  background: linear-gradient(45deg,#003a79,#007bff);
  height: 450px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

#particles-js {
  height: 160px; 
  width: 600px;
  padding-left: 50px;
  margin: 0px;
  position: absolute;
  z-index: 5;
}

.mainBrain {
  position: absolute;
  padding-bottom: 20px;
  padding-left: 85px;
}

.titleColor {
  font-weight: bold;
  color: #63686d;
}

/*BUTTONS*/

.instrutionbtn1 {
  background: #007bff;
  padding: 5px 5px;
  display: inline-block;
  width: 150px;
  margin-top: 15px;
  margin-right: 85px;
  color: #fff;
  border-radius: 25px;
  font-weight: light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.instrutionbtn1:hover {background: #fff; color: #007bff;} /*border:1.3px solid #007bff;*/
.instrutionbtn2:hover {background: #fff; color: #595438;} /*border:1.3px solid #007bff;*/



/*COLLAPSE*/



/*ORANGE BELT*/

.orangeBelt {
  height: 580px;
  width: 100%;
  padding: 30px 0px;
  background-image: url('../img/blueBelt.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.orangespsc {
  padding-top: 85px;
}

.fazIconz {
  font-size: 100px;
}

.instrutionbtn2 {
  background: #ffffff;
  padding: 5px 5px;
  display: inline-block;
  width: 150px;
  margin-top: 15px;
  margin-right: 85px;
  color: #007bff;
  border-radius: 25px;
  font-weight: light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.instrutionbtn2:hover {background: #007bff; color: #ffffff;} /*border:1.3px solid #ffffff;*/


.instrutionbtn3 {
  background: #ffffff;
  padding: 20px 20px;
  display: inline-block;
  width: 250px;
  margin-top: 25px;
  color: #007bff;
  border-radius: 25px;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.instrutionbtn3:hover {background: #007bff; color: #ffffff;} /*border:1.3px solid #ffffff;*/







/*STORY*/

.storyColor {
  background-color: #f8f9fb;
}






/*TESTIMONIAL*/

.testimonialblue {
  height: 580px;
  width: 100%;
  padding: 30px 0px;
  background-image: url('../img//testimonials/testimonialBackground.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.testimonialbluespcs {
  padding-top: 100px;
}

/*CIRCLED MASK*/

.clip-circle {
  border-radius: 50%;
}




/*MINI-ORANGE*/

.miniorangeBelt {
  height: 250px;
  width: 100%;
  padding: 30px 0px;
  background-image: url('../img/blueBelt.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}



@keyframes myanimation {
  0% {background-color: #000000;}
  25% {background-color: #9f9f9b;}
  20% {background-color: #fff;}
  50% {background-color: #a6a165;}
  75% {background-color: #f2e527;}
  100% {background-color: #595438;}
}


.btn-outline-light, .btn-lg a{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 120px;
  }


/*VIDEO-SECTION*/

.video-section {
  position: relative;
  width: 100%;
  max-height: 550px;
  overflow: hidden;
}

#vide-elem {
  width: 100%;
}

video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.5);
}


.video-overlay p {
  position: absolute;
  left: 80%;
  top: 45%;
  transform: translateX(-50%) translate(-50%);
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  width: 960px;
  display: block;
}

.blueBeltimg {
  height: 580px;
  width: 100%;
  padding: 30px 0px;
  background-image: url('../img/blueBelt5.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}


.blueBeltimgtalent {
  height: 780px;
  width: 100%;
  padding: 30px 0px;
  background-image: url('../img/blueBelt2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}



#testimonial{
  background:#f1f1f1;
  padding: 100px 0 80px 0;
  text-align: justify;
  background:url(../img/image3.pn);
}

#testimonial p{
  font-size:32px;
  font-family: Poppins;
  color:#737373;
  padding-bottom: 30px;
}

#testimonial p.customer{
  font-size: 20px;
  color:#666;
}

#info1 .info-right{
  margin-top:130px;
}

.projects{
  color: #17252a;
  margin-top: 160px;
  margin-bottom: 60px;
  font-size: 60px;
  text-align: center;
}


.info-left img{
  margin-top: 110px;
  width: 60%;
}

#info2{
  margin:20px 0 60px 0;
}

#contact{
  margin-top: 200px;
  background:url(../img/image3.png);
  padding:100px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}


/*FOOTER*/

footer{
  color: #ffffff;
  padding:15px;
  background-color: #374d60;
}

.socialMedia {
  font-size:  40px;
}

/*---Media Queries --*/
@media (max-width: 992px) {

/*** SHOWCASE-AREA ***/

  #showcase img {
    margin-top: 20%;
  }

  #showcase h1 {
    font-size: 35px;
    margin-top: 20%;
  }


.btn-outline-light, .btn-lg a{
    font-size: 15px;
    margin-left: 75px;
    margin-bottom: 25%;
    margin-top: auto;
  }


/***TESTIMONIAL***/

#testimonial p{
 font-size:20px;
}

/*** VIDEOSECTION ***/

.video-section {
  position: relative;
  width: 100%;
  max-height: 550px;
}

#vide-elem {
  width: 100%;
  height: 100%;
}


.video-overlay p {
  position: absolute;
  left: 90%;
  top: 45%;
  transform: translateX(-50%) translate(-50%);
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  width: 600px;
  display: block;
}



@media (max-width: 576px) {
  #showcase img{
    width:70%;
    margin-top: 200px;
  }
}



