.orangeCircle {
    position: absolute;
    padding-left: 300px;
    padding-top: 25px;
}

.yellowCircle {
    position: relative;
    padding-left: 825px;
    padding-top: 150px;
}


.blueRectangle {
    position: absolute;
    z-index: 5;
    padding-left: 190px;
    padding-top: 50px;
}


/*SHAPES*/

.blueRectangleShape {
    width: 1100px;
    height: 400px;
    background: rgb(0,69,144);
    background: linear-gradient(90deg, rgba(0,69,144,1) 0%, rgba(0,123,255,1) 100%);
    position: absolute;
    z-index: 5;
    top: 150px;
    left: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 195, 255, 0.19);
}

.orangeCircleShape {
    width: 400px;
    height: 400px;
    border-radius:50%;
    background:  #dd542a;
    position: relative;
    top: 150px;
    left: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 195, 255, 0.19);
}

.redCircleShape {
    width: 40px;
    height: 40px;
    border-radius:50%;
    background:  #dd542a;
    position: absolute;
    top: 120px;
    left: 280px;
}

